/* Reset some basic elements */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding-top: 140px; /* Adjusted to push the content below the header and nav */
    padding-bottom: 40px; /* Space for the footer */
}

/* Header and Navigation Styles */
header {
    background: #252526;
    color: #9CDCFE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Ensuring this is above the nav */
    padding: 10px 0;
}

nav {
    background: #333333;
    color: #fff;
    position: fixed;
    top: 60px; /* Position below the header */
    left: 0;
    right: 0;
    z-index: 1030;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #9CDCFE;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #3c3c3c;
    outline: none;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #2d2d2d;
    border-radius: 5px;
}

/* Contact Section Styles */
#contact a, #contact p {
    color: #ce9178;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background: #252526;
    color: #9CDCFE;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010; /* Ensuring this is above other content but below the header/nav */
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    nav ul li a {
        display: block;
    }
}
